<h1>New Transaction</h1>

<%= form_with model: @transaction, local: true do |form| %>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.label :amount %>
        <%= form.number_field :amount, step: 0.01 %>
    </div>

    <div>
        <%= form.label :type %>
        <%= form.select :type, [["Credit", "CreditTransaction"], ["Debit", "DebitTransaction"], ['Transafer',"TransferTransaction"]] %>
    </div>

    <div>
        <%= form.label :receiver_id, "Select User" %>
        <%= form.collection_select :receiver_id, @users, :id, :name, prompt: "Choose a user" %>

    <div>
    <%= form.submit "Create Transaction" %>
  </div>
<% end %>